<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="delimitedListener"
          type="System.Diagnostics.DelimitedListTraceListener"
          delimiter=" "
          initializeData="GvClientAccess.log"
          traceOutputOptions="DateTime, ProcessId" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>